# Registration service
ADMIN_USERNAME=adminuser
ADMIN_PASSWORD=adminpassword

# Server address (IP or domain)
MUSIC_SERVER_ADDRESS=

# Navidrome service
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info
ND_ENABLEEXTERNALSERVICES=false
ND_ENABLEDOWNLOADS=true
ND_ENABLESHARING=false

GUEST_EXPIRATION_HOURS=24 # Automatically remove guest users after this many hours (default: 1)

BASE_DATA_PATH=./data
